body,
html {
  font-size: 20px;
  font-family: 'Karla', sans-serif;
  line-height: 1.5em;
  margin-top: -0.5em;
  padding: 0;
  color: white;
  box-sizing: content-box;
  background-color: #F2EEDD;
}

h1 {
  letter-spacing: 2px;
  font-size: 30px;
  font-family: 'Karla', sans-serif;
  color: #31302A;
  text-align: left;
}

#intro {
  padding-left: 200px;
  padding-right: 400px;
  float: left;
  overflow: hidden;
}

#intro .column {
  position: relative;
  float: left;
}

#about-me {
  width: 250px;
  right: 250px;
  margin-left: -100%;
  padding: 20px;
  padding-right: 90px;
  margin-right: 50px;
  background-color: #31302A;
  border-left: 10px solid #31302A;
  border-top: 20px solid #31302A;
  border-right: 20px solid #7AA09A;
}

#about-me p {
  font-size: 10px;
  font-family: 'Karla', sans-serif;
  color: #F2EEDD;
  font-weight: lighter;
}


#profile-pic {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 0;
  margin: 20px;
}

#main-intro {
  width: 100%;
  margin-right: -100;
  padding-top: 30%;
}

#main-intro b {
  color: #C96903;
}

#main-intro p {
  color: #31302A;
}

#right {
  width: 100px;
  padding-right: -100%;
}


/*.column {
  display: table-cell;
  background-color: #31302A;
  align-items: right; 
  height: 100%;
  width: 80%;
  padding: 5px;
  left: 20%;
  right: 20%;
  top: 40%; 
  border-style: solid;
  border-color: black;
  border-width: 1px;
}*/