body,
html {
  height: 100%;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5em;
  margin: 1em;
  color: white;
  background-color: white;
  box-sizing: content-box;
  background: url("Moses_mountain_-_Saint_Catherine.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-items: left;
}

h1 {
  letter-spacing: 5px;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  color: #ECECEC;
  text-align: center;
}

h2 {
  letter-spacing: 2px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #dfe4e7;
  margin: 0.2em;
}

.nav-bar {
  display: flex;
  flex-direction: row-reverse;
  align-content: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: transparent;
}

li.nav {
  display: table-cell;
  font-size: 20px;
}

li.nav a {
  color: #374255;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

li.nav a:hover {
  text-decoration: underline;
  color: #374255;
}

.flex-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #374255;
  align-items: center; 
  padding: 5px;
  position: absolute;
  left: 20%;
  right: 20%;
  top: 40%; 
  border-style: solid;
  border-color: #374255;
  border-width: 2px;
}

#profile-pic {
  border-style: solid;
  border-color: #374255;
  border-width: 2px;
  padding: 0;
  margin: 20px;
}