body,
.nav {
  display: flex;
  flex-direction: row-reverse;
  align-content: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: transparent;
  letter-spacing: 5px;
  font-size: 20px;
  font-family: 'Karla', sans-serif;
  color: #374255;
  text-align: center;
  margin: 10px;
}

.dropbtn-nf {
  letter-spacing: 5px;
  font-size: 20px;
  font-family: 'Karla', sans-serif;
  color: #374255;
  text-align: center;
  margin: 10px;
}

.dropdown-content-nf {
  display: none;
  position: absolute;
  background-color: transparent;
}

.dropdown-content-nf a {
  color: #374255;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-nf a:hover {text-decoration: underline;}
.dropdown:hover .dropdown-content {display:block;}
.dropdown:hover .dropbtn {text-decoration: underline;}

.dropbtn-c {
  letter-spacing: 5px;
  font-size: 20px;
  font-family: 'Karla', sans-serif;
  color: #374255;
  text-align: center;
  margin: 10px;
}

.dropdown-content-c {
  display: none;
  position: absolute;
  background-color: transparent;
}

.dropdown-content-c a {
  color: #374255;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-c a:hover {text-decoration: underline;}
.dropdown:hover .dropdown-content {display:block;}
.dropdown:hover .dropbtn {text-decoration: underline;}

.dropbtn-p {
  letter-spacing: 5px;
  font-size: 20px;
  font-family: 'Karla', sans-serif;
  color: #374255;
  text-align: center;
  margin: 10px;
}

.dropdown-content-p {
  display: none;
  position: absolute;
  background-color: transparent;
}

.dropdown-content-p a {
  color: #374255;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-p a:hover {text-decoration: underline;}
.dropdown:hover .dropdown-content {display:block;}
.dropdown:hover .dropbtn {text-decoration: underline;}